{
    "accounts":[
        {
            "id":1,
            "name":"a-sample-name",
            "email":"example@example.org",
            "passwd":"mypassword"
        },
        {
            "id":2,
            "name":"a-sample-name",
            "email":"example@example.org",
            "passwd": "mypassword"
        }
    ]
}
